In [3]:
%pylab inline

import pandas as pd
import numpy as np

Populating the interactive namespace from numpy and matplotlib

In [4]:
intersection_file = 'C:/Users/iac6311/Documents/Work/git/precipitation-gradients/output/catchment_zonalstats/intersection_radargrids_catchments_area.csv'

In [5]:
df = pd.read_csv(intersection_file)

In [6]:
df.head()

,OBJECTID,linksuffix,node_id,rain_prof,subcatid,total_area,x,y,Shape_Leng,Shape_Area,index,sub_area
0,1,NaN,2A6114,2A,2A6114U.1,26.825,657211.8,1931234.2,11388.201101,1.167411e+06,1590,39119.09
1,1,NaN,2A6114,2A,2A6114U.1,26.825,657211.8,1931234.2,11388.201101,1.167411e+06,1631,51408.80
2,1,NaN,2A6114,2A,2A6114U.1,26.825,657211.8,1931234.2,11388.201101,1.167411e+06,1632,18121.48
3,2,NaN,2A6120,2A,2A6120R.1,2.468,638618.3,1937157.9,1504.571364,1.075051e+05,1709,9980.97
4,3,NaN,2A6120,2A,2A6120U.1,2.468,638618.3,1937157.9,1504.571364,1.075051e+05,1709,9980.97

In [7]:
subcatid_uniques = df.subcatid.unique()

In [8]:
subcatid_uniques

array(['2A6114U.1', '2A6120R.1', '2A6120U.1', ..., '3C5456U.1',
       '3C5740U.1', '3C5743U.1'], dtype=object)

In [17]:
scid = subcatid_uniques[10]

In [18]:
scid

'2B2199U.1'

In [58]:
df_sub

,OBJECTID,linksuffix,node_id,rain_prof,subcatid,total_area,x,y,Shape_Leng,Shape_Area,index,sub_area
25,10,NaN,2B2199,2B,2B2199R.1,8.604,667667.1,1922859.6,3622.781612,374771.662831,1467,13895.97
26,10,NaN,2B2199,2B,2B2199R.1,8.604,667667.1,1922859.6,3622.781612,374771.662831,1468,1538.53
27,10,NaN,2B2199,2B,2B2199R.1,8.604,667667.1,1922859.6,3622.781612,374771.662831,1509,19526.53
28,10,NaN,2B2199,2B,2B2199R.1,8.604,667667.1,1922859.6,3622.781612,374771.662831,1510,52.74

In [59]:
df_sub.index

Int64Index([25, 26, 27, 28], dtype='int64')

In [60]:
df_sub.iloc[0]['test']=0

C:\Users\iac6311\AppData\Local\Continuum\anaconda3\envs\saveurproj\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [61]:
df_sub.head()

,OBJECTID,linksuffix,node_id,rain_prof,subcatid,total_area,x,y,Shape_Leng,Shape_Area,index,sub_area
25,10,NaN,2B2199,2B,2B2199R.1,8.604,667667.1,1922859.6,3622.781612,374771.662831,1467,13895.97
26,10,NaN,2B2199,2B,2B2199R.1,8.604,667667.1,1922859.6,3622.781612,374771.662831,1468,1538.53
27,10,NaN,2B2199,2B,2B2199R.1,8.604,667667.1,1922859.6,3622.781612,374771.662831,1509,19526.53
28,10,NaN,2B2199,2B,2B2199R.1,8.604,667667.1,1922859.6,3622.781612,374771.662831,1510,52.74

In [56]:
df_sub.sub_area.sum()

35013.77

In [76]:
sub_area_array = []

for scid in subcatid_uniques:
    df_sub = df.loc[(df.subcatid==scid)]
    total_sub_area = df_sub.sub_area.sum()
    for idx in range(len(df_sub)):
        partial_sub_area = df_sub.iloc[idx,:].sub_area
        area_percentage = partial_sub_area/float(total_sub_area)
        sub_area_array.append(area_percentage)

In [78]:
df['area_percentage'] = sub_area_array

In [79]:
df.head()

,OBJECTID,linksuffix,node_id,rain_prof,subcatid,total_area,x,y,Shape_Leng,Shape_Area,index,sub_area,area_percentage
0,1,NaN,2A6114,2A,2A6114U.1,26.825,657211.8,1931234.2,11388.201101,1.167411e+06,1590,39119.09,0.360049
1,1,NaN,2A6114,2A,2A6114U.1,26.825,657211.8,1931234.2,11388.201101,1.167411e+06,1631,51408.80,0.473162
2,1,NaN,2A6114,2A,2A6114U.1,26.825,657211.8,1931234.2,11388.201101,1.167411e+06,1632,18121.48,0.166789
3,2,NaN,2A6120,2A,2A6120R.1,2.468,638618.3,1937157.9,1504.571364,1.075051e+05,1709,9980.97,1.000000
4,3,NaN,2A6120,2A,2A6120U.1,2.468,638618.3,1937157.9,1504.571364,1.075051e+05,1709,9980.97,1.000000

In [80]:
df.to_csv('C:/Users/iac6311/Documents/Work/git/precipitation-gradients/output/catchment_zonalstats/intersection_radargrids_catchments_area_percentage.csv')